.sideBar {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  transition: all 0.5s;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 5rem;
  font-size: 22px;
  gap: 20px;
}
.logo > img {
  width: 4rem;
  height: 4rem;
}
.logo > span > span {
  color: pink;
}
/* Menu  */
.menu {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menuItem {
  display: flex;
  justify-content: flex-start;
  /* margin-left: 2rem; */
  /* padding-left: 2rem; */
  width: 100%;
  gap: 1rem;
  align-items: center;
  font-size: 20px;
  position: relative;
  transition: all 0.5s;
  height: 2.5rem;
}
.menuItem:hover {
  cursor: pointer;
}
.active {
  background-color: pink;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: 0;
}
.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background-color: rgb(235, 105, 127);
}
