@media screen and (max-width: 1200px) {
  :where(.css-dev-only-do-not-override-1n7nwfa).ant-col-lg-8 {
    padding: 0 !important;
  }
  :where(.css-dev-only-do-not-override-1n7nwfa).ant-col-lg-18 {
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 992px) {
  .profile {
  }
  .name {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 0 !important;
    margin: 0 !important;
  }
  :where(.css-dev-only-do-not-override-1n7nwfa).ant-col-sm-24 {
    padding: 0 !important;
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  .name {
    padding: 0 !important;
  }
  .profile {
    padding: 0 !important;
    margin: 0 !important;
  }

  :where(.css-dev-only-do-not-override-1n7nwfa).ant-col-xs-24 {
    padding: 0 !important;
    margin: 20px 0;
  }
}
