.sideBar {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  transition: all 0.5s;
  background-color: pink !important;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu
  .ant-menu-item
  .ant-menu-item-icon
  svg,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon
  svg {
  font-size: 18px !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark.ant-menu-inline
  .ant-menu-item
  .active {
  background-color: transparent !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  margin-left: 0 !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark
  .ant-menu-item-selected
  .active::before {
  content: "" !important;
  width: 15px !important;
  height: 100% !important;
  background-color: rgb(235, 105, 127) !important;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark .ant-menu-item a,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark
  .ant-menu-item
  a:hover {
  text-decoration: none !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark
  .ant-menu-item-selected {
  background-color: pink !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-inline.ant-menu-root
  .ant-menu-item,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title {
  height: 80px !important;
}
