.sideBar {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  transition: all 0.5s;
  background-color: pink !important;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu
  .ant-menu-item
  .ant-menu-item-icon
  svg,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon
  svg {
  font-size: 25px;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark .ant-menu-item a,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark
  .ant-menu-item
  a:hover {
  font-size: 20px;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: transparent !important;
  position: relative;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark
  .ant-menu-item-selected::before {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  content: "" !important;
  width: 20px !important;
  height: 100% !important;
  background-color: rgb(235, 105, 127) !important;
  transition: all 0.5s;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark .ant-menu-item a,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark
  .ant-menu-item
  a:hover {
  text-decoration: none !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark
  .ant-menu-item-selected {
  background-color: pink !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-inline.ant-menu-root
  .ant-menu-item,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title {
  height: 80px !important;
}
